.swagger-section .nav-api {
    text-align: center;
    height: 3rem;
    margin-top: 2rem;
}

.swagger-section .nav-api a.btn {
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Droid Sans", sans-serif;
    border: 1px solid transparent;
}

.swagger-section .nav-api a.btn.purple {
    background-color: #892de3;
    color: white;
}

.swagger-section .nav-api a.btn.blue {
    background-color: #04a3bf;
    color: white;
}